project_id = "smb-dd-lab"

parent_resource_id = "smb-dd-lab"

push_endpoint = "https://gcp-intake.logs.datadoghq.eu/v1/input/<DATADOG_API_KEY>/"

key_output_path = "/home/sbreslow/terraform-google-log-export/examples/datadog-sink/sa-key.json"
